{% extends 'main.html' %}
{% block main_panel %}
    <!-- First Part Start -->
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="signup-first">
            <div class="card-body panel-form">
                {% for message in messages %}
                    <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
                {% if user.is_authenticated %}
                    <p>You are signed in as<br/>
                        <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                        <br/>{{ user.email }}<br/>
                        <br/>
                        <a href="{% url 'trips:all' %}">My Trips</a>
                        <br/>
                        <a href="{% url 'settings' %}">settings</a>
                        <br/>
                        <a href="{% url 'password' %}">change password</a>
                        <br/>
                        <a href="{% url 'logout' %}">logout</a>
                        <br/>
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/> {% else %}
                    <p>
                        <a href="{% url 'signup' %}">Create an Account</a>
                    </p>
                    <p>or</p>
                    <p>Sign In below</p>
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control form-login" id="id_username" placeholder="Username"
                                   name="username" autocomplete="off">
                            <label for="id_username" class="username">Please Enter Your Username</label>
                            <label for="id_username" class="username-length">Username should have at least 5
                                Characters</label>
                        </div>
                        <div class="form-group form-group-2">
                            <input type="password" class="form-control form-login" id="id_password"
                                   placeholder="Password" name="password" autocomplete="off">
                            <label for="id_password" class="password">Please Enter Your Correct Password</label>
                            <label for="id_password" class="password-length">Password should have at least 8
                                Characters</label>
                        </div>
                        <div class="btn-center">
                            <input type="submit" id="signin" class="btn btn-lg btn-default btnsignin" value="SIGN IN">
                        </div>
                        <p class="or-signup">or</p>
                        <div class="btn-center">
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                                <span class="fab fa-facebook-f"></span> Sign in with Facebook
                            </a>
                        </div>
                        <div class="btn-center">
                            <br/>
                        </div>
                        <div class="btn-center">
                            <a href="{% url 'social:begin' 'google-oauth2' %}"
                               class="btn btn-block btn-social btn-google">
                                <span class="fab fa-google"></span> Sign in with Google
                            </a>
                        </div>
                    </form>


                {% endif %}
            </div>
        </div>
    </div>
    <!-- First Part End -->


{% endblock %}

{% block css_scripts %}
    <script>
        $(document).ready(function () {
            $("#signin").click(function () {
                var id_username = $("#id_username").val();
                if (id_username == "") {
                    $(".username").css("display", "block");
                    return false;
                }
                else {
                    $(".username").css("display", "none");
                }
                var pwd = $("#id_password").val().length;
                if (pwd == "") {
                    $(".password").css("display", "block");

                    return false;
                }
                if (pwd < 8) {
                    $(".password").css("display", "none");
                    $(".password-length").css("display", "none");
                    return false;
                }
                else {
                    $(".password-length").css("display", "none");
                    return true;
                }
            });
            $("#id_username").keyup(function () {
                var id_username = $(this).val().length;

                if (id_username < 5) {
                    $(".username").css("display", "none");
                    $(".username-length").css("display", "block");
                }
                else {
                    $(".username").css("display", "none");
                    $(".username-length").css("display", "none");
                }
            });
            $("#id_password").keyup(function () {
                var pwd = $(this).val().length;
                if (pwd < 8) {
                    $(".password-length").css("display", "block");
                    $(".password").css("display", "none");
                }
                else {
                    $(".password-length").css("display", "none");
                    $(".password").css("display", "none");
                }
            });
        });
    </script>
{% endblock %}