<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="card pane-defau-trip-twos">
                    <div class="card-header">trips</div>
                    <div class="card-body">
                        <div class="media">
                            <img src="/static/images/8.jpg" class="align-self-start mr-3 tips-img-bordie" alt="">
                               <div class="media-body">
                              <a href="#" class="media-heading trip-heads-agains">Trip 01</a>
                              <p class="trip-desc-agains">MZ Suspendisse suscipit sapien quis massa volutpat dapibus. Proin dignissim nibh tortor, sit amet mollis nulla auctor in.</p>
                            </div>
                        </div>
                        <hr class="trips-hr-agains">
                        <div class="media">
                            <img src="/static/images/9.jpg" class="align-self-start mr-3 tips-img-bordie" alt="">
                            <div class="media-body">
                              <a href="#" class="media-heading trip-heads-agains">Trip 02</a>
                              <p class="trip-desc-agains">Suspendisse suscipit sapien quis massa volutpat dapibus. Proin dignissim nibh tortor, sit amet mollis nulla auctor in.</p>
                            </div>
                        </div>
                        <hr class="trips-hr-agains">
                        <div class="media">
                            <img src="/static/images/10.jpg" class="align-self-start mr-3 tips-img-bordie" alt="">
                             <div class="media-body">
                              <a href="#" class="media-heading trip-heads-agains">Trip 03</a>
                              <p class="trip-desc-agains">Suspendisse suscipit sapien quis massa volutpat dapibus. Proin dignissim nibh tortor, sit amet mollis nulla auctor in.</p>
                            </div>
                        </div>
                        <hr class="trips-hr-agains">
                        <div class="media">
                            <img src="/static/images/11.jpg" class="align-self-start mr-3 tips-img-bordie" alt="">
                              <div class="media-body">
                              <a href="#" class="media-heading trip-heads-agains">Trip 04</a>
                              <p class="trip-desc-agains">Suspendisse suscipit sapien quis massa volutpat dapibus. Proin dignissim nibh tortor, sit amet mollis nulla auctor in.</p>
                            </div>
                        </div>
                        <hr class="trips-hr-agains">
                        <div class="media">
                            <img src="/static/images/12.jpg" class="align-self-start mr-3 tips-img-bordie" alt="">
                            <div class="media-body">
                              <a href="#" class="media-heading trip-heads-agains">Trip 05</a>
                              <p class="trip-desc-agains">Suspendisse suscipit sapien quis massa volutpat dapibus. Proin dignissim nibh tortor, sit amet mollis nulla auctor in.</p>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="card-footer pane-foo-trips">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <p><a href="#" class="see-all-trips">See All</a></p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <p><a href="#" class="dismiss-trips">Dismiss All</a></p>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>